@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
  }
  
  form {
    display: inline;
  }
  

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #3C4043;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    display: none;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-header__item {
    padding: 0;
    margin: 0 1rem;
}

.main-header__item a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 6px;
}

.main-header__item a:hover{
    color: #DFAF2B;
}
.main-header__item a:active,
.main-header__item a.active {
    color: #FAC42F;
}

.main-header__item a + .main-header__item__border {
    margin-top: 6px;
    height: 2px;
    background-color: #FAC42F;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.main-header__item a:active + .main-header__item__border ,
.main-header__item a:hover + .main-header__item__border,
.main-header__item a.active + .main-header__item__border {
    transform: scaleX(1);
    transform-origin: left;
  }

main {
    padding: 1rem;
}

.sub-text{
    color: #999;
    line-height: 1.5;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: #3C4043;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .mobile-nav.open {
    transform: translateX(0);
  }
  
  .mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .mobile-nav__item {
    margin: 1rem;
    padding: 0;
  }
  
  .mobile-nav__item a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }

  .mobile-nav__item a + .mobile-nav__item__border {
    height: 2px;
    background-color: #DFAF2B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}
  
  .mobile-nav__item a:active ,
  .mobile-nav__item a:hover,
  .mobile-nav__item a.active {
    color: #DFAF2B;
  }

  .mobile-nav__item a:active + .mobile-nav__item__border ,
  .mobile-nav__item a:hover + .mobile-nav__item__border,
  .mobile-nav__item a.active + .mobile-nav__item__border {
    transform: scaleX(1);
  }

  
  #side-menu-toggle {
    border: none;
    font: inherit;
    display: block;
    background: transparent;
    cursor: pointer;
    margin:0.5rem;
  }

  #side-menu-toggle > svg {
      width: 24px;
      stroke: #fff;
      stroke-width: 3px;
  }
  
  #side-menu-toggle:focus {
    outline: none;
  }
  
  #side-menu-toggle:active,
  #side-menu-toggle:hover {
    color: #ffeb3b;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
  }
  

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
  }
  
  .card__header,
  .card__content {
    padding: 0.5rem 1rem;
  }
  .card__header {
      border-bottom: 1px solid #ddd;
  }
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    width: 100%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  
  .btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #495057;
    background-color: transparent;
    color: #495057;
    cursor: pointer;
}
.btn:hover, 
.btn:active {
    outline: 1px dashed #aaa;
    outline-offset: 1px;
}
.btn.btn-primary {
    border-color: #3c3286;
    background-color: #3c3286;
    color: #fff;
}
.btn.btn-primary:hover, 
.btn.btn-primary:active {
    background-color: #2A235F;
}
.btn.btn-accent {
    border-color: #ce9929;
    background-color: #ce9929;
    color: #fff;
}
.btn.btn-accent:hover, 
.btn.btn-accent:active {
    background-color: #be8e25;
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }

    #side-menu-toggle {
        display: none;
    }
}