<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>This is Product Detail page</h1>
    </main>
<%- include('../includes/end.ejs') %>