extends layouts/main-layout.pug
block content
    main
        h1 404 - Page not found
        p.sub-text
            | The page you are looking for is not avaliable or temporarly down.
            | Please click on any of the link above to navigate to the appropriate page....